Repository trentw/script-to-speech: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feature: dev-mode only "voice editor" flow added to tweak voice library voices, with optional LLM labeling info integration
  CHANGELOG.md
  docs/LLM_VOICE_LABELING.md
  gui/frontend/src/components/voice-editor/LLMPropertyReasoning.tsx
  gui/frontend/src/components/voice-editor/LLMRunImport.tsx
  gui/frontend/src/components/voice-editor/UnsavedChangesDialog.tsx
  gui/frontend/src/components/voice-editor/VoiceEditorFooter.tsx
  gui/frontend/src/components/voice-editor/VoiceEditorPanel.tsx
  gui/frontend/src/components/voice-editor/VoiceEditorView.tsx
  gui/frontend/src/components/voice-editor/VoiceEnumSelector.tsx
  gui/frontend/src/components/voice-editor/VoicePropertySlider.tsx
  gui/frontend/src/components/voice-editor/VoiceTagEditor.tsx
  gui/frontend/src/components/voice-editor/VoiceTextEditor.tsx
  gui/frontend/src/hooks/mutations/index.ts
  gui/frontend/src/hooks/mutations/useVoiceEditorMutations.ts
  gui/frontend/src/hooks/queries/useVoiceLibrary.ts
  gui/frontend/src/lib/navigation-builder.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/routes/__root.tsx
  gui/frontend/src/routes/voice-editor.tsx
  gui/frontend/src/services/api.ts
  gui/frontend/src/stores/voiceEditorStore.ts
  gui/frontend/src/types/index.ts
  gui/frontend/src/types/route-metadata.ts
  gui/frontend/src/types/voice-editor.ts
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/voice_library.py
  src/script_to_speech/gui_backend/services/voice_library_service.py
  src/script_to_speech/tts_providers/minimax/tts_provider.py
  src/script_to_speech/voice_library/voice_library.py
Due: prettier --write, eslint --fix

feature: add minimax voice library with 20 LLM-labeled and hand-tuned voices
  CHANGELOG.md
  src/script_to_speech/voice_library/voice_library_data/minimax/voices.yaml
Due: none

fix: normalize openai voices.yaml formatting and add missing fields
  CHANGELOG.md
  src/script_to_speech/voice_library/voice_library_data/openai/voices.yaml
Due: none

feature: include minimax in voice casting provider lists
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
  gui/frontend/src/routes/voice-casting/$sessionId.library.tsx
Due: prettier --write, eslint --fix

Feature: adding voice library sorting feature
  CHANGELOG.md
  docs/LLM_VOICE_LABELING.md
  pyproject.toml
  src/script_to_speech/voice_library/cli_sort.py
  tests/voice_library/test_cli_sort.py
Due: none

Expanding voice library schema with new accents
  src/script_to_speech/voice_library/voice_library_data/voice_library_schema.yaml
Due: none

Feature: added ~100 addtional minimax voices with hand-labeling corrections
  CHANGELOG.md
  src/script_to_speech/voice_library/voice_library_data/minimax/voices.yaml
Due: none

Fixed cache key mismatch that would disconnect silent audio clips check results if screenplay was renamed
  CHANGELOG.md
  gui/frontend/src/components/audiobook/AudiobookGenerationControls.tsx
  gui/frontend/src/routes/project/generate.tsx
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
Due: prettier --write, eslint --fix

Unified silence checking processes across review audio and generate audio, allowing for better caching + progress reporting on review audio
  CHANGELOG.md
  gui/frontend/src/components/review/ProblemClipsSection.tsx
  gui/frontend/src/components/review/__tests__/ProblemClipsSection.test.tsx
  gui/frontend/src/hooks/queries/__tests__/useSilentClips.test.tsx
  gui/frontend/src/hooks/queries/useSilentClips.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/routes/project/review.tsx
  gui/frontend/src/services/api.ts
  gui/frontend/src/types/review.ts
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/review.py
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
  src/script_to_speech/gui_backend/services/review_service.py
  tests/gui_backend/services/test_review_scan.py
Due: prettier --write, eslint --fix

Fixed ffmpeg bug that occurred when review audio was run before generate audio
  CHANGELOG.md
  src/script_to_speech/gui_backend/services/review_service.py
Due: none

resume and cancel audio generation sessions, including generation persistence between tabs in desktop app
  CHANGELOG.md
  gui/frontend/src/components/audiobook/AudiobookGenerationProgress.tsx
  gui/frontend/src/hooks/mutations/useCancelAudiobookTask.ts
  gui/frontend/src/hooks/queries/useActiveAudiobookTask.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/routes/project/generate.tsx
  gui/frontend/src/services/api.ts
  gui/frontend/src/types/audiobook-generation.ts
  src/script_to_speech/audio_generation/download_manager.py
  src/script_to_speech/audio_generation/processing.py
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/audiobook_generation.py
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
  tests/audio_generation/test_cancellation.py
  tests/gui_backend/routers/test_audiobook_generation.py
  tests/gui_backend/services/test_audiobook_generation_service.py
Due: prettier --write, eslint --fix

added audio generation progress to project navigation + completion toast
  CHANGELOG.md
  gui/frontend/src/components/navigation/ProjectModeNavigation.tsx
Due: prettier --write, eslint --fix

updating dry run version bump makefile targets to include minor / major bumps
  Makefile
Due: none

Update release flow documentation to include missing steps
  CHANGELOG.md
  docs/VERSIONING.md
Due: none

docs: changelog bump for v2.0.0 -> v2.1.0
  CHANGELOG.md
Due: none

build: minimal lockfile updates during version bump
  pyproject.toml
Due: none

release: v2.1.0
  gui/frontend/package.json
  gui/frontend/src-tauri/Cargo.lock
  gui/frontend/src-tauri/Cargo.toml
  gui/frontend/src-tauri/tauri.conf.json
  pyproject.toml
  src/script_to_speech/_version.py
  uv.lock
Due: prettier --write

docs: update VERSIONING for minimal lockfile bump hooks
  docs/VERSIONING.md
Due: none

ci: fix desktop build broken by pnpm v10 ignored build scripts
  .github/workflows/build-desktop.yml
  .github/workflows/deploy-website.yml
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: note transient macOS codesign-timestamp flake and github-pages v* tag dependency for releases
  docs/VERSIONING.md
Due: none

refactor: [Text Processor] make get_user_workspace_dir public for reuse
  src/script_to_speech/voice_library/constants.py
Due: none

feature: [Text Processor] add processor registry and config-schema hooks
  src/script_to_speech/text_processors/processor_manager.py
  src/script_to_speech/text_processors/registry.py
  src/script_to_speech/text_processors/text_preprocessor_base.py
  src/script_to_speech/text_processors/text_processor_base.py
  tests/text_processors/test_processor_manager.py
Due: none

feature: [Text Processor] describe each processor's config schema
  src/script_to_speech/text_processors/configs/default_text_processor_config.yaml
  src/script_to_speech/text_processors/preprocessors/dual_dialogue_preprocessor.py
  src/script_to_speech/text_processors/preprocessors/extract_dialogue_parentheticals_preprocessor.py
  src/script_to_speech/text_processors/preprocessors/skip_and_merge_preprocessor.py
  src/script_to_speech/text_processors/preprocessors/speaker_merge_preprocessor.py
  src/script_to_speech/text_processors/processors/capitalization_transform_processor.py
  src/script_to_speech/text_processors/processors/pattern_replace_processor.py
  src/script_to_speech/text_processors/processors/skip_empty_processor.py
  src/script_to_speech/text_processors/processors/text_substitution_processor.py
  tests/text_processors/processors/test_capitalization_transform_processor.py
  tests/text_processors/processors/test_pattern_replace_processor.py
  tests/text_processors/processors/test_text_substitution_processor.py
  tests/text_processors/test_registry.py
Due: none

feature: [Text Processor] add pipeline preview engine
  src/script_to_speech/text_processors/preview.py
  tests/text_processors/test_preview.py
Due: none

feature: [Text Processor] generate standalone per-screenplay configs
  .gitignore
  CHANGELOG.md
  src/script_to_speech/parser/process.py
  src/script_to_speech/text_processors/config_generation.py
  src/script_to_speech/text_processors/utils.py
  tests/parser/test_process.py
  tests/text_processors/test_config_generation.py
  tests/text_processors/test_utils.py
Due: none

feature: [Text Processor] add config API request/response models
  src/script_to_speech/gui_backend/models.py
Due: none

feature: [Text Processor] add config service and REST API
  src/script_to_speech/gui_backend/main.py
  src/script_to_speech/gui_backend/routers/settings.py
  src/script_to_speech/gui_backend/routers/text_processors.py
  src/script_to_speech/gui_backend/services/text_processor_config_service.py
  tests/gui_backend/routers/test_text_processors.py
  tests/gui_backend/services/test_text_processor_config_service.py
Due: none

feature: [Text Processor] add frontend API client, types, and hooks
  gui/frontend/package.json
  gui/frontend/src/hooks/mutations/useTextProcessorConfigMutations.ts
  gui/frontend/src/hooks/mutations/useTextProcessorGlobalDefaultMutations.ts
  gui/frontend/src/hooks/queries/useTextProcessorConfig.ts
  gui/frontend/src/hooks/queries/useTextProcessorGlobalDefault.ts
  gui/frontend/src/hooks/queries/useTextProcessorRegistry.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/services/textProcessorApi.ts
  gui/frontend/src/types/text-processing.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feature: [Text Processor] add editor state model
  gui/frontend/src/components/text-processing/__tests__/editorState.test.ts
  gui/frontend/src/components/text-processing/editorState.ts
Due: prettier --write, eslint --fix

feature: [Text Processor] add editor UI components
  gui/frontend/src/components/text-processing/AddProcessorDialog.tsx
  gui/frontend/src/components/text-processing/ChunkDiff.tsx
  gui/frontend/src/components/text-processing/DirtyDiffResults.tsx
  gui/frontend/src/components/text-processing/GlobalDefaultActions.tsx
  gui/frontend/src/components/text-processing/InlineIconButton.tsx
  gui/frontend/src/components/text-processing/PipelineSection.tsx
  gui/frontend/src/components/text-processing/PreviewPanel.tsx
  gui/frontend/src/components/text-processing/ProcessorCard.tsx
  gui/frontend/src/components/text-processing/ProcessorConfigForm.tsx
  gui/frontend/src/components/text-processing/RawConfigEditor.tsx
  gui/frontend/src/components/text-processing/StalenessBanner.tsx
  gui/frontend/src/components/text-processing/TextProcessorPipelineEditor.tsx
  gui/frontend/src/components/text-processing/__tests__/TextProcessorPipelineEditor.test.tsx
  gui/frontend/src/components/text-processing/fields/FieldInput.tsx
  gui/frontend/src/components/text-processing/fields/FieldLabel.tsx
  gui/frontend/src/components/text-processing/fields/ObjectListField.tsx
  gui/frontend/src/components/text-processing/fields/SpeakerMapField.tsx
  gui/frontend/src/components/text-processing/fields/StringListField.tsx
  gui/frontend/src/components/voice-editor/UnsavedChangesDialog.tsx
Due: prettier --write, eslint --fix

feature: [Text Processor] add in-app Text Processing editor
  CHANGELOG.md
  gui/frontend/src/components/navigation/ProjectModeNavigation.tsx
  gui/frontend/src/routes/project/index.tsx
  gui/frontend/src/routes/project/processing.tsx
Due: prettier --write, eslint --fix

docs: [Text Processor] document the editor and standalone configs
  CHANGELOG.md
  README.md
  docs/GUI_USER_GUIDE.md
  docs/TEXT_PROCESSORS.md
Due: none

feature: [Chunk Review] add cache-filename sentinels and ladder resolution
  CHANGELOG.md
  src/script_to_speech/audio_generation/cache_filenames.py
  src/script_to_speech/audio_generation/models.py
  src/script_to_speech/audio_generation/processing.py
  src/script_to_speech/utils/generate_standalone_speech.py
  src/script_to_speech/utils/id3_tag_utils.py
  tests/audio_generation/test_cache_filenames.py
  tests/audio_generation/test_processing.py
  tests/utils/test_generate_standalone_speech.py
  tests/utils/test_id3_tag_utils.py
Due: none

feature: [Chunk Review] add chunk inventory API and user-modified commit flow
  CHANGELOG.md
  src/script_to_speech/gui_backend/main.py
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/chunks.py
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
  src/script_to_speech/gui_backend/services/chunk_inventory_service.py
  src/script_to_speech/gui_backend/services/generation_service.py
  src/script_to_speech/gui_backend/services/project_loader.py
  src/script_to_speech/gui_backend/services/review_service.py
  src/script_to_speech/gui_backend/services/screenplay_service.py
  src/script_to_speech/gui_backend/services/text_processor_config_service.py
  tests/gui_backend/routers/test_chunks.py
  tests/gui_backend/services/test_chunk_inventory_service.py
  tests/gui_backend/services/test_commit_variant.py
Due: none

feature: [Chunk Review] add Find Chunks search and shared audio playback
  CHANGELOG.md
  gui/frontend/src/components/review/ChunkSearchSection.tsx
  gui/frontend/src/components/review/DialogueItem.tsx
  gui/frontend/src/components/review/EditInputItem.tsx
  gui/frontend/src/components/review/SpeakerGroup.tsx
  gui/frontend/src/components/review/VariantList.tsx
  gui/frontend/src/components/review/__tests__/ChunkSearchSection.test.tsx
  gui/frontend/src/components/review/__tests__/chunkSearch.test.ts
  gui/frontend/src/components/review/__tests__/generationKind.test.ts
  gui/frontend/src/components/review/chunkSearch.ts
  gui/frontend/src/components/review/generationKind.ts
  gui/frontend/src/components/review/index.ts
  gui/frontend/src/hooks/audio/useSharedAudioPlayback.ts
  gui/frontend/src/hooks/mutations/useCommitVariant.ts
  gui/frontend/src/hooks/queries/index.ts
  gui/frontend/src/hooks/queries/useChunkInventory.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/routes/project/review.tsx
  gui/frontend/src/services/api.ts
  gui/frontend/src/types/chunks.ts
  gui/frontend/src/types/index.ts
  gui/frontend/src/types/review.ts
Due: prettier --write, eslint --fix

docs: [Chunk Review] document cache filename convention and chunk search
  CHANGELOG.md
  README.md
  docs/GUI_USER_GUIDE.md
  docs/TROUBLESHOOTING.md
Due: none

refactor: [GUI] extract shared formatRelativeTime helper
  gui/frontend/src/components/review/ChunkSearchSection.tsx
  gui/frontend/src/components/review/ProblemClipsSection.tsx
  gui/frontend/src/lib/__tests__/formatRelativeTime.test.ts
  gui/frontend/src/lib/formatRelativeTime.ts
Due: prettier --write, eslint --fix

fix: [Chunk Review] refresh chunk inventory after voice and audiobook changes
  gui/frontend/src/hooks/mutations/__tests__/useUpdateSessionYaml.test.tsx
  gui/frontend/src/hooks/mutations/useAssignVoice.ts
  gui/frontend/src/hooks/mutations/useClearVoice.ts
  gui/frontend/src/hooks/mutations/useUpdateSessionYaml.ts
  gui/frontend/src/hooks/queries/useAudiobookStatus.ts
Due: prettier --write, eslint --fix

feature: [Screenplay Viewer] extract PDF words by page
  src/script_to_speech/parser/utils/text_utils.py
  tests/parser/test_parser_utils.py
Due: none

feature: [Screenplay Viewer] add sequential playback engine
  gui/frontend/src/components/viewer/__tests__/viewerLogic.test.ts
  gui/frontend/src/components/viewer/viewerLogic.ts
  gui/frontend/src/hooks/audio/__tests__/useSequentialPlayback.test.ts
  gui/frontend/src/hooks/audio/useSequentialPlayback.ts
  gui/frontend/src/hooks/audio/useSharedAudioPlayback.ts
  gui/frontend/src/services/AudioService.ts
  gui/frontend/src/services/__tests__/AudioService.test.ts
  gui/frontend/src/test/setup.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: gui/frontend/**/*.{js,jsx,ts,tsx}) or (any of: gui/frontend/**/*.{json,css,md})
  eslint --fix: any of: gui/frontend/**/*.{js,jsx,ts,tsx}
