Repository trentw/script-to-speech: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

syncing npm and cargo versions
  gui/frontend/package.json
  gui/frontend/src-tauri/Cargo.lock
  gui/frontend/src-tauri/Cargo.toml
Due: prettier --write

updating makefile and technical documentation go cover cases where node / pnpm / rust not installed and give guidance
  Makefile
  docs/GUI_TECHNICAL.md
Due: none

Attempting to rebuild frontend lib files that were accidentally lost with over-aggressive .gitignore for "lib" exclusion
  .gitignore
  gui/frontend/src/lib/navigation-builder.ts
  gui/frontend/src/lib/navigation-styles.ts
  gui/frontend/src/lib/navigation.ts
  gui/frontend/src/lib/project-status.ts
  gui/frontend/src/lib/queryClient.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/lib/routes.ts
  gui/frontend/src/lib/utils.ts
Due: prettier --write, eslint --fix

Fixing CI for intel based macs and windows
  .github/workflows/build-desktop.yml
  build_backend.py
Due: none

Adding generated audiobook playback / downlaod on project overview page once audio generation is complete
  gui/frontend/src/lib/project-status.ts
  gui/frontend/src/routes/project/index.tsx
Due: prettier --write, eslint --fix

Fixing build path for windows builds for CI
  build_backend.py
Due: none

Adding apple signing for OSX image
  .github/workflows/build-desktop.yml
  gui/frontend/src-tauri/Entitlements.plist
  gui/frontend/src-tauri/tauri.conf.json
Due: prettier --write

debugging signing failure on CI
  .github/workflows/build-desktop.yml
Due: none

changing app notification strategy to use team api
  .github/workflows/build-desktop.yml
Due: none

Add Windows WebView2 origins to CORS allow list
  src/script_to_speech/gui_backend/main.py
Due: none

Fix PyInstaller bundled path for text processor config
  src/script_to_speech/text_processors/utils.py
Due: none

Fixing tempfile write path for production builds
  src/script_to_speech/utils/audio_utils.py
Due: none

Additional tmp file writing fixes for windoes production builds
  src/script_to_speech/utils/audio_utils.py
Due: none

Fixing additional pyinstaller path issues in production builds
  src/script_to_speech/dummy_tts_backend/backend.py
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
  src/script_to_speech/tts_providers/tts_provider_manager.py
  src/script_to_speech/utils/generate_standalone_speech.py
  src/script_to_speech/voice_casting/character_notes_utils.py
  src/script_to_speech/voice_casting/voice_library_casting_utils.py
  src/script_to_speech/voice_library/constants.py
Due: none

Fixing a few more windows-specific issues: - Aligning tauri and python on local app data - Fixing windows path separator - Closing temp file for character note utils for windows compatibility
  gui/frontend/src-tauri/src/lib.rs
  src/script_to_speech/gui_backend/config.py
  src/script_to_speech/utils/audio_utils.py
  src/script_to_speech/voice_casting/character_notes_utils.py
Due: none

Fix Windows production build audio concatenation stall
  src/script_to_speech/utils/audio_utils.py
Due: none

Take two on windows subprocess fixes
  src/script_to_speech/utils/audio_utils.py
Due: none

Adding additional open ai TTS voices to voice library
  src/script_to_speech/voice_library/voice_library_data/openai/voices.yaml
Due: none

Catching selections of voices for which providers have not been configurated, and showing a warning that links to the provider API key input screen
  gui/frontend/src/components/ConfigurationPanel.tsx
  gui/frontend/src/components/ProviderSelectionPanel.tsx
  gui/frontend/src/components/VoiceSelectionPanel.tsx
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
Due: prettier --write, eslint --fix

Adding direct download links to latest releases on scripttospeech.com
  website/.astro/data-store.json
  website/.astro/settings.json
  website/src/components/Downloads.astro
Due: none

Adding better handling of character casting notes / role notes in the voice selection and voice assignment UI
  gui/frontend/src/components/voice-casting/CharacterCard.tsx
  gui/frontend/src/components/voice-casting/TruncatedNote.tsx
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
  gui/frontend/src/components/voice-casting/YamlImportPanel.tsx
  gui/frontend/src/components/voice-casting/index.ts
  gui/frontend/src/routes/voice-casting/$sessionId.assign.$characterName.tsx
  gui/frontend/src/routes/voice-casting/$sessionId.index.tsx
  gui/frontend/src/utils/yamlUtils.ts
  src/script_to_speech/gui_backend/services/voice_casting_service.py
Due: prettier --write, eslint --fix

Adding id3 tag editing for audiobook to GUI frontend
  gui/frontend/src/components/audiobook/Id3TagEditor.tsx
  gui/frontend/src/components/audiobook/index.ts
  gui/frontend/src/hooks/mutations/index.ts
  gui/frontend/src/hooks/mutations/useUpdateId3TagConfig.ts
  gui/frontend/src/hooks/queries/index.ts
  gui/frontend/src/hooks/queries/useId3TagConfig.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/routes/project/generate.tsx
  gui/frontend/src/routes/project/index.tsx
  gui/frontend/src/services/projectApi.ts
  gui/frontend/src/types/index.ts
  gui/frontend/src/types/project.ts
  src/script_to_speech/gui_backend/main.py
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/optional_config.py
  src/script_to_speech/gui_backend/services/project_service.py
Due: prettier --write, eslint --fix

Fixing missed test / lint failures
  gui/frontend/src/components/audiobook/Id3TagEditor.tsx
  gui/frontend/src/components/voice-casting/CharacterCard.tsx
  gui/frontend/src/components/voice-casting/TruncatedNote.tsx
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
  gui/frontend/src/components/voice-casting/YamlImportPanel.tsx
  gui/frontend/src/lib/project-status.ts
  gui/frontend/src/lib/queryKeys.ts
  gui/frontend/src/routes/project/index.tsx
  gui/frontend/src/services/projectApi.ts
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
  src/script_to_speech/gui_backend/services/project_service.py
  src/script_to_speech/gui_backend/services/voice_casting_service.py
  src/script_to_speech/utils/audio_utils.py
  src/script_to_speech/utils/generate_standalone_speech.py
  src/script_to_speech/voice_library/constants.py
  tests/utils/test_audio_utils.py
Due: prettier --write, eslint --fix

release: v2.0.0
  .github/workflows/build-desktop.yml
  .pre-commit-config.yaml
  Makefile
  build_backend.py
  docs/VERSIONING.md
  gui/frontend/package.json
  gui/frontend/src-tauri/Cargo.lock
  gui/frontend/src-tauri/Cargo.toml
  gui/frontend/src-tauri/tauri.conf.json
  gui/frontend/src/components/layout/AdaptiveNavigation.tsx
  gui/frontend/src/test/mocks/handlers.ts
  gui/frontend/src/vite-env.d.ts
  gui/frontend/tsconfig.node.json
  gui/frontend/vite.config.ts
  pyproject.toml
  scripts/check_version_sync.py
  src/script_to_speech/_version.py
  src/script_to_speech/gui_backend/__init__.py
  src/script_to_speech/gui_backend/main.py
  uv.lock
Due: prettier --write, eslint --fix

fix: pin tauri to ~2.9, fix Windows CI changelog step
  .github/workflows/build-desktop.yml
  gui/frontend/src-tauri/Cargo.lock
  gui/frontend/src-tauri/Cargo.toml
Due: none

Add 2.0.0 section to CHANGELOG
  CHANGELOG.md
Due: none

Updating website build action to be triggered when new releases are pushed
  .github/workflows/deploy-website.yml
Due: none

Replacing explicit python version flag in CI flow for backend sidecar with .python-version file (so that local debug builds will be built with same version)
  .github/workflows/build-desktop.yml
  .python-version
Due: none

[Desktop] Moving character voice assignments from path to query param to support character names with special characters like '/'
  CHANGELOG.md
  gui/frontend/src/services/api.ts
  src/script_to_speech/gui_backend/routers/voice_casting.py
Due: prettier --write, eslint --fix

fix: upgrade static-ffmpeg to v3.0 for Apple Silicon support
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: fix development setup instructions in README
  CHANGELOG.md
  README.md
Due: none

[Desktop] Added onBlur for ID3 tag edit boxes so that they auto-save when clicked outside of edit box
  CHANGELOG.md
  gui/frontend/src/components/audiobook/Id3TagEditor.tsx
Due: prettier --write, eslint --fix

fix: stop voice playback when unassigning a voice
  CHANGELOG.md
  gui/frontend/src/components/voice-casting/CharacterCard.tsx
Due: prettier --write, eslint --fix

feature: make character names in voice usage tooltip clickable to scroll
  CHANGELOG.md
  gui/frontend/src/components/voice-casting/CharacterCard.tsx
  gui/frontend/src/components/voice-casting/VoiceCard.tsx
  gui/frontend/src/routes/voice-casting/$sessionId.index.tsx
Due: prettier --write, eslint --fix

feature: voice name on voice assignment as clickable link for direct replacement flow
  CHANGELOG.md
  gui/frontend/src/components/voice-casting/CharacterCard.tsx
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
  gui/frontend/src/components/voice-casting/VoiceCard.tsx
Due: prettier --write, eslint --fix

Fixed scroll voice casting scroll position issues with voice assignment page
  CHANGELOG.md
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
  gui/frontend/src/routes/voice-casting/$sessionId.assign.$characterName.tsx
Due: prettier --write, eslint --fix

feature: add "replace all" option for voices with multiple assignments
  CHANGELOG.md
  gui/frontend/src/components/voice-casting/VoiceAssignmentPanel.tsx
Due: prettier --write, eslint --fix

feature: added custom voice casting instructions to desktop app, and introduced 'enabled / disabled' state for casting instructions
  gui/frontend/src/components/voice-casting/CastingInstructionsCard.tsx
  gui/frontend/src/components/voice-casting/index.ts
  gui/frontend/src/hooks/mutations/index.ts
  gui/frontend/src/hooks/mutations/useUpdateCastingInstructions.ts
  gui/frontend/src/hooks/queries/index.ts
  gui/frontend/src/hooks/queries/useCastingInstructions.ts
  gui/frontend/src/routes/voice-casting/$sessionId.library.tsx
  gui/frontend/src/services/api.ts
  src/script_to_speech/gui_backend/routers/settings.py
  src/script_to_speech/gui_backend/routers/voice_casting.py
  src/script_to_speech/gui_backend/services/voice_casting_service.py
  src/script_to_speech/voice_library/voice_library_config.py
  tests/voice_casting/test_voice_library_casting_utils.py
  tests/voice_library/test_voice_library_config.py
Due: prettier --write, eslint --fix

fix: fixed directory path issue for custom voice casting instructions / custom voices for production builds
  gui/frontend/src/hooks/mutations/useUpdateCastingInstructions.ts
  src/script_to_speech/gui_backend/routers/settings.py
  src/script_to_speech/voice_library/constants.py
Due: prettier --write, eslint --fix

feature: LLM-based voice labeling for new voices / new voice providers to generate voices.yaml
  CHANGELOG.md
  docs/LLM_VOICE_LABELING.md
  docs/VOICE_LIBRARY_SCRIPTS.md
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_calibrate/__init__.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_calibrate/llm_voice_calibrate.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/__init__.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/audio_analyzer.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/consensus.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/llm_voice_labeler.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/output_formatter.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/prompt_builder.py
  src/script_to_speech/voice_library/voice_library_scripts/llm_voice_labeler/sample_generator.py
  tests/voice_library/voice_library_scripts/__init__.py
  tests/voice_library/voice_library_scripts/llm_voice_calibrate/__init__.py
  tests/voice_library/voice_library_scripts/llm_voice_calibrate/test_llm_voice_calibrate.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/__init__.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/conftest.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/test_audio_analyzer.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/test_consensus.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/test_output_formatter.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/test_prompt_builder.py
  tests/voice_library/voice_library_scripts/llm_voice_labeler/test_sample_generator.py
Due: none

Path conditions:
  prettier --write: (any of: gui/frontend/**/*.{js,jsx,ts,tsx}) or (any of: gui/frontend/**/*.{json,css,md})
  eslint --fix: any of: gui/frontend/**/*.{js,jsx,ts,tsx}
