Repository trentw/script-to-speech: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-fast-checks, validate-voice-library-data, prettier, eslint, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - "types-pyYAML"
          - "types-requests"
          - "types-tqdm"
        args: ["--config-file=pyproject.toml", "--package=script_to_speech"]
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest-fast-checks
        name: pytest-fast-checks
        # Run only unit tests, skip slow and integration tests
        entry: uv run pytest tests/ -v -m "unit and not slow and not integration" --maxfail=2
        language: system
        pass_filenames: false
        always_run: false
        types: [python]
      - id: validate-voice-library-data
        name: validate-voice-library-data
        entry: uv run sts-validate-voice-library-data --project-only
        language: system
        pass_filenames: false
        always_run: false
        files: ^src/script_to_speech/voice_library_data/.*\.yaml$
      - id: prettier
        name: prettier
        entry: scripts/pre-commit-entry.sh prettier --write
        language: script
        files: ^gui/frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
      - id: eslint
        name: eslint
        entry: scripts/pre-commit-entry.sh eslint --fix
        language: script
        files: ^gui/frontend/.*\.(js|jsx|ts|tsx)$
      - id: frontend-tests
        name: frontend-tests
        entry: scripts/pre-commit-entry.sh vitest run --silent
        language: script
        pass_filenames: false
        files: ^gui/frontend/.*\.(js|jsx|ts|tsx)$
        types_or: [javascript, jsx, ts, tsx]

Fix Tauri backend orphaned process issue with stdin monitoring
  Makefile
  build_backend.py
  gui/frontend/src-tauri/src/lib.rs
  gui/frontend/src/components/BackendStatus.tsx
  gui/frontend/src/components/app/AppStatus.tsx
  gui/frontend/src/config.ts
  gui/frontend/src/config/api.ts
  gui/frontend/src/hooks/__tests__/useBackendStatus.test.ts
  gui/frontend/src/hooks/__tests__/useProviders.test.ts
  gui/frontend/src/test/mocks/handlers.ts
  src/script_to_speech/gui_backend/config.py
  src/script_to_speech/gui_backend/main.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

Starting tauri app in maximized screen size
  gui/frontend/src-tauri/tauri.conf.json
Due: prettier

Changing "backend connected" error message behavior for Tauri app builds (shows "connecting" message instead of "backend disconnected" on startup)
  gui/frontend/src/hooks/queries/useBackendStatus.ts
  gui/frontend/src/routes/__root.tsx
Due: prettier, eslint, frontend-tests

Fixing frontend app paths to work with app as well as dev app
  gui/frontend/src/components/project/ProjectPicker.tsx
  gui/frontend/src/hooks/queries/useParseYaml.ts
  gui/frontend/src/routes/project/screenplay.tsx
  gui/frontend/src/routes/project/voices.tsx
  src/script_to_speech/gui_backend/config.py
  src/script_to_speech/gui_backend/routers/screenplay.py
  src/script_to_speech/gui_backend/services/voice_casting_service.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

Moving to backend.spec for pyinstaller, and changing from hidden import strategy
  .gitignore
  build_backend.py
  sts-gui-backend.spec
Due: pytest-fast-checks

Preserving original screenplay filename on GUI upload
  gui/frontend/src/services/projectApi.ts
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/projects.py
  src/script_to_speech/gui_backend/services/project_service.py
  src/script_to_speech/gui_backend/services/screenplay_service.py
  tests/gui_backend/services/test_screenplay_service.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

Fixing infinite process spawn issue on Tauri sidecar
  src/script_to_speech/gui_backend/config.py
  src/script_to_speech/gui_backend/main.py
Due: pytest-fast-checks

Adding settings section to Tauri app, and settings section for API key configuration (as well as app warnings when using a provider that does not have the API key added)
  gui/frontend/src/components/ProviderSelectionPanel.tsx
  gui/frontend/src/components/app/HeaderContent.tsx
  gui/frontend/src/components/layout/AppHeader.tsx
  gui/frontend/src/components/settings/ApiKeyWarning.tsx
  gui/frontend/src/components/settings/SettingsDialog.tsx
  gui/frontend/src/constants/providers.ts
  gui/frontend/src/hooks/queries/useAllVoiceCounts.ts
  gui/frontend/src/hooks/queries/useEnvKeys.ts
  gui/frontend/src/routes/__root.tsx
  gui/frontend/src/stores/appStore.ts
  src/script_to_speech/gui_backend/constants.py
  src/script_to_speech/gui_backend/main.py
  src/script_to_speech/gui_backend/routers/settings.py
  src/script_to_speech/utils/env_utils.py
  tests/utils/test_env_utils.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

Adding basic readme / documentation for GUI version of script to speech
  README.md
  docs/GUI_TECHNICAL.md
  docs/GUI_USER_GUIDE.md
Due: none

Removing deprecated and unused "use audio" hooks
  gui/frontend/src/hooks/__tests__/useAudio.test.ts
  gui/frontend/src/hooks/useAudio.ts
Due: prettier, eslint, frontend-tests

Additional documentation tweaks in preparation of merging back in Tauri branch
  .gitignore
  docs/GUI_TECHNICAL.md
  docs/GUI_USER_GUIDE.md
  gui/frontend/src/assets/providers/README.md
  gui/frontend/src/components/layout/LAYOUT_GUIDELINES.md
  gui/frontend/src/components/navigation/OPTIMIZATION_GUIDE.md
  gui/frontend/src/components/voice-casting/CustomVoiceForm.README.md
  gui/frontend/src/hooks/mutations/README.md
  gui/frontend/src/services/README.md
Due: prettier

Fixing "first app start" issues where frontend would start before backend and lead to inconsistent guidance + error messages
  gui/frontend/src/App.tsx
  gui/frontend/src/components/app/AppStatus.tsx
  gui/frontend/src/components/app/BackendGate.tsx
  gui/frontend/src/hooks/queries/useBackendStatus.ts
  gui/frontend/src/routes/__root.tsx
Due: prettier, eslint, frontend-tests

On first app start, start in project mode, on welcome screen
  gui/frontend/src/routes/index.tsx
Due: prettier, eslint, frontend-tests

Adjusting tauri app window sizes for better usability
  gui/frontend/src-tauri/tauri.conf.json
Due: prettier

FIxing a few issues with LLM casting flow in GUI - missing upload import - added missing bundling of prompt templates for production build - pre-populating existing screenplay in "project" mode
  gui/frontend/src/components/voice-casting/ScreenplaySourceUpload.tsx
  src/script_to_speech/gui_backend/routers/voice_casting.py
  src/script_to_speech/gui_backend/services/voice_casting_service.py
  src/script_to_speech/voice_casting/character_notes_utils.py
  sts-gui-backend.spec
Due: pytest-fast-checks, prettier, eslint, frontend-tests

Fixing infinite loop in .yaml import in GUI
  gui/frontend/src/components/voice-casting/YamlImportPanel.tsx
Due: prettier, eslint, frontend-tests

Fixing a handful of UI / UX issues with .yaml import and export flows for voice casting (button styling + UX, back button flow consistency, etc.)
  gui/frontend/src/components/voice-casting/YamlImportPanel.tsx
  gui/frontend/src/components/voice-casting/YamlPreview.tsx
  gui/frontend/src/routes/voice-casting/$sessionId.index.tsx
  gui/frontend/src/utils/yamlUtils.ts
Due: prettier, eslint, frontend-tests

Fixing issue where voice configuration .yaml path was using development path in production settings
  src/script_to_speech/gui_backend/services/voice_casting_service.py
Due: pytest-fast-checks

Fixing a few issues with development paths being used in prod settings, mainly for TTS generation + upload directories
  src/script_to_speech/gui_backend/config.py
  src/script_to_speech/gui_backend/services/generation_service.py
Due: pytest-fast-checks

Fixing TTS GUI edge case where "generate" could be clicked without a voice selected, creating an error. Also added tooltip to guide user as to why generate is disabled in various cases
  gui/frontend/src/components/app/MainContent.tsx
  gui/frontend/src/components/ui/button-variants.ts
  gui/frontend/src/routes/tts.tsx
Due: prettier, eslint, frontend-tests

Removing "back" button in voice casting UI when in project mode (as the voice casting index page is only needed to select a new screenplay, which isn't needed in project mode)
  gui/frontend/src/routes/voice-casting/$sessionId.index.tsx
Due: prettier, eslint, frontend-tests

Adding initial version new GUI tool, "review audio". This initial version is focused on replacing "problem audio", cache misses and silent clips
  gui/frontend/package.json
  gui/frontend/src/components/navigation/ProjectModeNavigation.tsx
  gui/frontend/src/components/review/DialogueItem.tsx
  gui/frontend/src/components/review/EditInputItem.tsx
  gui/frontend/src/components/review/ProblemClipsSection.tsx
  gui/frontend/src/components/review/SpeakerGroup.tsx
  gui/frontend/src/components/review/VariantList.tsx
  gui/frontend/src/components/review/index.ts
  gui/frontend/src/components/ui/dropdown-menu.tsx
  gui/frontend/src/hooks/mutations/index.ts
  gui/frontend/src/hooks/mutations/useCommitVariant.ts
  gui/frontend/src/hooks/mutations/useDeleteVariant.ts
  gui/frontend/src/hooks/queries/index.ts
  gui/frontend/src/hooks/queries/useAudiobookStatus.ts
  gui/frontend/src/hooks/queries/useCacheMisses.ts
  gui/frontend/src/hooks/queries/useSilentClips.ts
  gui/frontend/src/routes/project/review.tsx
  gui/frontend/src/services/api.ts
  gui/frontend/src/types/index.ts
  gui/frontend/src/types/review.ts
  src/script_to_speech/audio_generation/constants.py
  src/script_to_speech/audio_generation/models.py
  src/script_to_speech/audio_generation/processing.py
  src/script_to_speech/audio_generation/utils.py
  src/script_to_speech/gui_backend/main.py
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/review.py
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
  src/script_to_speech/gui_backend/services/generation_service.py
  src/script_to_speech/gui_backend/services/review_service.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

FIxing issue where @theme mapping for tailwind v4 was incorrectly applied, leading to a number of stylings being slightly broken
  gui/frontend/src/index.css
Due: prettier

CSS styling tweaks to match updated tailwind theming
  gui/frontend/src/components/ConfigForm.tsx
  gui/frontend/src/components/layout/AppShell.tsx
  gui/frontend/src/components/layout/__tests__/AppShell.test.tsx
  gui/frontend/src/components/voice-casting/CharacterCard.tsx
  gui/frontend/src/components/voice-casting/CustomVoiceCard.tsx
  gui/frontend/src/components/voice-casting/VoiceCard.tsx
  gui/frontend/src/routes/project/index.tsx
Due: prettier, eslint, frontend-tests

Adding better gating for audio generation / audio review when voice casting is not fully complete, along with some edge case fixes
  gui/frontend/src/components/audiobook/AudiobookGenerationControls.tsx
  gui/frontend/src/components/review/ProblemClipsSection.tsx
  gui/frontend/src/hooks/queries/useCacheMisses.ts
  gui/frontend/src/routes/project/generate.tsx
  gui/frontend/src/routes/project/index.tsx
  gui/frontend/src/routes/project/review.tsx
Due: prettier, eslint, frontend-tests

Improving audio generation -> audio review interaction, and tweaking "cached clip" terminology and logic to be more intuitive
  gui/frontend/src/components/audiobook/AudiobookGenerationResult.tsx
  gui/frontend/src/routes/project/generate.tsx
  gui/frontend/src/routes/project/review.tsx
Due: prettier, eslint, frontend-tests

Adding CLI sts-detect-headers utility to detect headers / footers in screenplays, and associated functionality in screenplay parsing to remove supplied header / footer strings
  README.md
  pyproject.toml
  src/script_to_speech/parser/constants.py
  src/script_to_speech/parser/header_footer/__init__.py
  src/script_to_speech/parser/header_footer/cli.py
  src/script_to_speech/parser/header_footer/detector.py
  src/script_to_speech/parser/header_footer/models.py
  src/script_to_speech/parser/process.py
  src/script_to_speech/parser/utils/text_utils.py
  tests/parser/header_footer/__init__.py
  tests/parser/header_footer/test_detector.py
  tests/parser/header_footer/test_models.py
  tests/parser/test_process.py
Due: pytest-fast-checks

Adding web UI for header / footer removal detection and parsing integration, and running this detection automatically on new project creation
  gui/frontend/src/components/project/ProjectControls.tsx
  gui/frontend/src/components/project/ProjectWelcomeScreen.tsx
  gui/frontend/src/components/project/UploadProgressDialog.tsx
  gui/frontend/src/components/screenplay/ConfigureParsingView.tsx
  gui/frontend/src/components/screenplay/DetectionSection.tsx
  gui/frontend/src/components/screenplay/HeaderFooterPopover.tsx
  gui/frontend/src/components/screenplay/RemovalSection.tsx
  gui/frontend/src/components/ui/dialog.tsx
  gui/frontend/src/hooks/mutations/index.ts
  gui/frontend/src/hooks/mutations/useCreateProject.ts
  gui/frontend/src/hooks/mutations/useDetectHeaders.ts
  gui/frontend/src/hooks/mutations/useReparseScreenplay.ts
  gui/frontend/src/routes/__root.tsx
  gui/frontend/src/routes/project/screenplay/configure.tsx
  gui/frontend/src/routes/project/screenplay/index.tsx
  gui/frontend/src/routes/project/screenplay/route.tsx
  gui/frontend/src/services/api.ts
  gui/frontend/src/services/projectApi.ts
  gui/frontend/src/stores/appStore.ts
  gui/frontend/src/types/index.ts
  gui/frontend/src/types/project.ts
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/routers/screenplay.py
  src/script_to_speech/gui_backend/services/project_service.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

UX improvements for GUI audio generation: - show incremental progress for silence checking and concatenation - add explicit "exporting" phase
  gui/frontend/src/types/audiobook-generation.ts
  src/script_to_speech/audio_generation/processing.py
  src/script_to_speech/audio_generation/utils.py
  src/script_to_speech/gui_backend/models.py
  src/script_to_speech/gui_backend/services/audiobook_generation_service.py
Due: pytest-fast-checks, prettier, eslint, frontend-tests

Adding "audio generation" card in project overview, and changing menu availability so that its alway available
  gui/frontend/src/components/navigation/ProjectModeNavigation.tsx
  gui/frontend/src/components/project/WorkflowProgress.tsx
  gui/frontend/src/routes/project/index.tsx
Due: prettier, eslint, frontend-tests

Adding "review audio" card in project overview, and changing menu availability so that its alway available
  gui/frontend/src/components/navigation/ProjectModeNavigation.tsx
  gui/frontend/src/routes/project/index.tsx
Due: prettier, eslint, frontend-tests

Accessibility improvements to settings menu, including collapsible sections, deep-linking, and moving debug options under settings
  gui/frontend/package.json
  gui/frontend/src/components/app/HeaderContent.tsx
  gui/frontend/src/components/layout/AppHeader.tsx
  gui/frontend/src/components/settings/ApiKeyWarning.tsx
  gui/frontend/src/components/settings/SettingsDialog.tsx
  gui/frontend/src/components/ui/accordion.tsx
  gui/frontend/src/routes/__root.tsx
  gui/frontend/src/stores/appStore.ts
  gui/frontend/src/test/setup.ts
  gui/frontend/src/test/utils/createStore.ts
Due: prettier, eslint, frontend-tests

Add cross-platform desktop build workflow
  .github/workflows/build-desktop.yml
Due: none

Fix CI: use python directly and set UTF-8 encoding for Windows
  .github/workflows/build-desktop.yml
Due: none

updating pyinstaller approach for cross platform builds
  build_backend.py
Due: pytest-fast-checks

consolidating to uv based build action approach
  .github/workflows/build-desktop.yml
Due: none

updating python version and gui dependencies
  .github/workflows/build-desktop.yml
Due: none

adding tauri script to satisfy builds
  gui/frontend/package.json
Due: prettier
